@charset "UTF-8";
header {
	padding-top: 10px;
	padding-left: 19px;
	padding-right: 19px;
	padding-bottom: 10px;
}
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

nav {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

main {
	min-height: 800px;
}








.fAll {
	width: 1000px;
	min-height: 800px;
	background: #6BEC36;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.sideLefet {
	width: 275px;
	height: auto;
	float: left;
}
.fLefet{
	background-color: #DCA9AA;
	margin-bottom: 20px;
}


.lefet2{
	width: 700px;
	height: 363px;
	background-color: #5A6BF1;
	float: right;	
}
.test1{
	width: 550px;
	background: #DDCD35;
}






/*عرض للتابلت*/
@media (min-width: 401px) and (max-width: 768px){

	.fAll {
	width: 95%;
}
	
	.sideLefet {
	width: 98%;
	height: auto;
	float: none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
	
.lefet2{
	width: 98%;
	height: 363px;
	background-color: #B8B8B8;
	float: right;	
}
	
	
}


/*عرض للجوال*/
@media (max-width: 400px){
	header a img {
		width: 83%;
		height: 83%;
	}
	
}


